<h2>View Yarn</h2>
<p>Name: <%= @yarn.name %></p>
<p>Main Color: <%= @yarn.color %></p>
<p>Weight: <%= @yarn.weight %><p>
<p>Fiber: <%= @yarn.fiber %></p>

<form action='/yarns' method='GET'>
    <input class='button' type='submit' value='My Stash'>
</form>


<% if authorized_to_change?(@yarn) %>

    <form action='/yarns/<%= @yarn.id %>/edit' method='GET'>
        <input class='button' type='submit' value='Edit Yarn'>
    </form>

    <form action='/yarns/<%= @yarn.id %>' method='POST'>
        <input type='hidden' name='_method' value='DELETE'>
        <input class='button' type='submit' value='Delete Yarn'>
    </form>
<% end %>