<h2><%= current_user.username %>'s Yarn Stash</h2>
<p>Click the "Add Yarn" button to add a new yarn to your stash.</p>
<p>Sort your stash alphabetically by clicking the table headers.</p>
<p>Click the yarn's brand name to view, edit, or delete that yarn.</p>

<table>
    <thead>
        <tr>
            <th scope='col'><a href='/yarns?sort=name'>Brand</a></th>
            <th scope='col'><a href='/yarns?sort=color'>Color</a></th>
            <th scope='col'><a href='/yarns?sort=weight'>Weight</a></th>
            <th scope='col'><a href='/yarns?sort=fiber'>Fiber</a></th>
            <th scope='col'><a href='/yarns?sort=num_of_skeins'>Number of Skeins</a></th>
            <th scope='col'><a href='/yarns?sort=yardage'>Yardage</a></th>
        </tr>
    </thead>
    <% @yarns.each do |yarn|%>
        <tr>
            <td><a href='/yarns/<%= yarn.id %>'><%= yarn.name %></a></td>
            <td><%= yarn.color %></td>
            <td><%= yarn.weight %></td>
            <td><%= yarn.fiber %></td>
            <td><%= yarn.num_of_skeins %></td>
            <td><%= yarn.yardage %></td>
        </tr>
    <% end %>
</table>

<a class='button' href='/yarns/new'>Add New Yarn</a>